# Binaries and build output
bin/
dist/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
data/